# MySQL config
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USERNAME=root
MYSQL_PASSWORD=1234
MYSQL_DATABASE=klinikku

# Redis config
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=1234
REDIS_DATABASE=klinikku
